@{
    ViewData["Title"] = "Reset";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Thay Đổi Mật Khẩu</h1>
</div>
<form class="user">
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="username"
               placeholder="Nhập tài khoản">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
               id="matkhau"
               placeholder="Nhập mật khẩu cũ">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
               id="password"
               placeholder="Nhập mật khẩu mới">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
               id="confirmpassword"
               placeholder="Nhập lại mật khẩu mới">
    </div>

    <input type="button" id="login" class="btn btn-primary btn-user btn-block" value="Xác nhận" />


</form>
<hr>

<div class="text-center">
    <a class="small" href="/NguoiLaoDong/Home/ThongTinCaNhan">Quay về</a>
</div>

@section scripts {
    <script>
        var login = {
            init: function () {

                $("#login").click(function () {

                    login.dangky();
                });
            },
            dangky: function () {
                var username = $("#username").val();

                var matkhau = $("#matkhau").val();
                var password = $("#password").val();
                var confirmpassword = $("#confirmpassword").val();

                if (password != confirmpassword) {
                    alert("Mật khẩu mới không chính xác");
                    return;
                }

                var form = new FormData()
                form.append("username", username);
                form.append("password", matkhau);
                form.append("newpassword", password);


                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/NguoiTuyenDung/Home/ThayDoiMatKhau/',
                    success: function (res) {
                        alert(res.mess);
                    },
                    error: function () {

                    }

                });
            },
        }
        login.init();
    </script>
}
