
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Login.cshtml";
}
@* 
<div class="card">
    <div class="card-header">
        <h4>ĐĂNG TUYỂN CÔNG VIỆC</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                   Tên công việc
                                </span>
                            </div>
                            <input type="text" class="form-control" id="name" />
                        </div>
                    </div>
                   
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Tuổi từ
                                </span>
                            </div>
                            <input type="number" class="form-control bg-white" id="mintuoi" />
                        </div>
                    </div>
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Tuổi đến
                                </span>
                            </div>
                            <input type="number" class="form-control bg-white" id="maxtuoi" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Thời gian
                            </span>
                        </div>
                        <input type="datetime-local" class="form-control bg-white" id="timework" placeholder="Thời gian bắt đầu làm việc" />
                    </div>
                </div>


            </div>
          
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Địa chỉ
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="address" />
                        </div>
                    </div>

                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                   Lương
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="salary" />
                        </div>
                    </div>
                   
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Mô tả
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" id="note" />
                        </div>
                    </div>
                    
                    <div class="col-md-12 p-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Chọn nhóm công việc
                                </span>
                            </div>
                            @Html.DropDownList("nhomcongviec", new SelectList(ViewBag.nhom, "Id", "Name"), new { @class = "form-control",@multiple= "multiple" })
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="create" class="btn btn-primary">Thêm mới</button>
               
            </div>
        </div>
    </div>
</div> *@

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Đăng tuyển công việc</h1>
</div>
<form class="user">
    <div class="form-group">
        <span> Tên công việc</span>
        <input type="text" class="form-control form-control-user" id="name"
               placeholder="Nhập tên công việc">
    </div>

    <div class="form-group row">
        <span>Công việc yêu cầu độ tuổi</span>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <span>Từ</span>
            <input type="number" class="form-control form-control-user"
                   id="mintuoi" >
            
        </div>
        <div class="col-sm-6">
            <span>Đến</span>
            <input type="number" class="form-control form-control-user"
                   id="maxtuoi">
           
        </div>
    </div>

    <div class="form-group">
        <span id="male-label">Thời gian bắt đầu công việc</span>
        <input type="datetime-local" class="form-control form-control-user" id="timework">
    </div>
    <div class="form-group">
        <span id="male-label">Thời gian kết thúc công việc</span>
        <input type="datetime-local" class="form-control form-control-user" id="finish">
    </div>
    <div class="form-group">
        <span>Địa chỉ</span>
        <input type="text" class="form-control form-control-user" id="address"
               placeholder="Địa chỉ">
    </div>

    <div class="form-group">
        <span>Lương đề xuất</span>
        <input type="number" class="form-control form-control-user" id="salary"
               placeholder="Lương đề xuất">
    </div>
    <div class="form-group">
        <span>Mô tả</span>
        <textarea type="text" class="form-control form-control-user" id="note"
               placeholder="Nhập mô tả" ></textarea>
    </div>
    <div class="form-group">
        <span>Chọn nhóm công việc</span>
        @Html.DropDownList("nhomcongviec", new SelectList(ViewBag.nhom, "Id", "Name"), new { @class = "form-control", @multiple = "multiple" })
    </div>

    <input type="button" class="btn btn-primary btn-user btn-block" id="create" value=" Đăng tuyển" />




</form>
<hr>
<div class="text-center">
    <a class="small" href="~/NguoiTuyenDung/Home/Index">Quay lại</a>
</div>


@section scripts{
    <script>
        var nguoituyendung = {
            init: function () {

                $("#create").click(function () {
                    nguoituyendung.create();
                });
            },
            create: function () {
                var name = $("#name").val();
                var mintuoi = $("#mintuoi").val();
                var maxtuoi = $("#maxtuoi").val();
                var timework = $("#timework").val();
                var finish = $('#finish').val();
                var address = $("#address").val();
                var salary = $("#salary").val();
                var note = $("#note").val();
                var nhomcongviec = $("#nhomcongviec").val();
              
                var form = new FormData()
                form.append("name", name);
                form.append("mintuoi", mintuoi);
                form.append("maxtuoi", maxtuoi);
                form.append("timework", timework);
                form.append("address", address);
                form.append("salary", salary);
                form.append("note", note);
                form.append("nhomcongviec", nhomcongviec);
                alert(nhomcongviec)
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/NguoiTuyenDung/Home/Themmoi/',
                    success: function (res) {
                        alert("Đăng tuyển thành công")
                        _layout.showtoast(res.mess);
                    },
                });

            },
        }
        nguoituyendung.init();

        function goto(i) {
            nguoituyendung.search(i);
        }
    </script>
}
