@{
    ViewData["Title"] = "Danhgia";
    Layout = "~/Areas/NguoiTuyenDung/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4 mt-3">ĐÁNH GIÁ LAO ĐỘNG</h1>
            </div>
            <form class="user">
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div style="width: 200px; height: 200px; overflow: hidden; text-align: center;">
                            <img src="" id="image" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="exampleFormControlInput1" class="">Tên công việc </label>
                                </div>
                                <div class="col-md-5">
                                    <label for="exampleFormControlInput1" class="" id="tencongviec"></label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="exampleFormControlInput1" class="">Người lao động</label>
                                </div>
                                <div class="col-md-5">
                                    <label for="exampleFormControlInput1" class="" id="name"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="exampleFormControlInput1" class="">Tuổi</label>
                                </div>
                                <div class="col-md-5">

                                    <label for="exampleFormControlInput1" class="" id="age"></label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="exampleFormControlInput1" class="">Địa chỉ </label>

                                </div>
                                <div class="col-md-5">
                                    <label for="exampleFormControlInput1" class="" id="address"></label>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <hr />
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">ĐÁNH GIÁ  </label>
                    <style>
                        .anh {
                            height: 20px;
                            width: 20px;
                        }
                    </style>
                    <img src="/img/star.png" class="anh" id="img1" />
                    <img src="/img/star.png" class="anh" id="img2" />
                    <img src="/img/star.png" class="anh" id="img3" />
                    <img src="/img/star.png" class="anh" id="img4" />
                    <img src="/img/star.png" class="anh" id="img5" />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="form-label">NHẬN XÉT </label>
                    <textarea class="form-control " id="nhanxet" rows="6" placeholder="Nội dung"></textarea>
                </div>

                <input type="button" id="danhgia" class="btn btn-primary btn-user btn-block" value="Đánh giá" />
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="~/NguoiTuyenDung/Home/Index">Quay lại</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Notification Box -->
<div id="notificationBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông Báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancelHidden">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="notificationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="boxHidden">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var sosao = 5;
        var nguoituyendung = {
            init: function () {
                nguoituyendung.getLaoDongByIdCongViec();
                $("#danhgia").click(function () {
                    nguoituyendung.danhgia();
                });
                $("#img1").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star1.png");
                    $("#img3").attr("src", "/img/star1.png");
                    $("#img4").attr("src", "/img/star1.png");
                    $("#img5").attr("src", "/img/star1.png");
                    sosao = 1;
                });
                $("#img2").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star.png");
                    $("#img3").attr("src", " /img/star1.png");
                    $("#img4").attr("src", "/img/star1.png");
                    $("#img5").attr("src", "/img/star1.png");
                    sosao = 2;
                });
                $("#img3").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star.png");
                    $("#img3").attr("src", "/img/star.png");
                    $("#img4").attr("src", "/img/star1.png");
                    $("#img5").attr("src", "/img/star1.png");
                    sosao = 3;
                });
                $("#img4").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star.png");
                    $("#img3").attr("src", "/img/star.png");
                    $("#img4").attr("src", "/img/star.png");
                    $("#img5").attr("src", "/img/star1.png");
                    sosao = 4;
                });
                $("#img5").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star.png");
                    $("#img3").attr("src", "/img/star.png");
                    $("#img4").attr("src", "/img/star.png");
                    $("#img5").attr("src", "/img/star.png");
                    sosao = 5;
                });
                $("#boxHidden,#cancelHidden").click(function () {
                    $("#notificationBox").modal('hide');
                });
            },

            danhgia: function () {

                var nhanxet = $("#nhanxet").val();
                var form = new FormData();
                form.append("sao", sosao);
                form.append("nhanxet", nhanxet);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/NguoiTuyenDung/Home/DanhGiaCongViec/',
                    success: function (res) {
                        nguoituyendung.showNotification(res.mess); // Show notification if login fails
                        
                    },
                });
            },

            getLaoDongByIdCongViec: function () {

                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    url: '/NguoiTuyenDung/Home/getLaoDongByIdUngTuyen/',
                    success: function (res) {

                        $("#image").attr("src", res.data.image);
                        $("#tencongviec").text(res.data.tencongviec);
                        $("#name").text(res.data.name);
                        $("#age").text(res.data.age);
                        $("#address").text(res.data.address);


                    },
                });
            },
            // Show the notification modal
            showNotification: function (message) {
                $("#notificationMessage").text(message); // Set the message inside the modal
                $("#notificationBox").modal('show');    // Show the modal
            }
        };

        nguoituyendung.init();

        function goto(i) {
            nguoituyendung.search(i);
        }
    </script>
}




