
@{
    ViewData["Title"] = "Danhgia";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">ĐÁNH GIÁ LAO ĐỘNG</h1>
</div>
<form class="user">
    <div class="form-group">
        <label for="exampleFormControlInput1" class="form-label">ĐÁNH GIÁ SAO  </label>
        <style>
            .anh {
                height: 20px;
                width: 20px;
            }
        </style>
        <img src="/img/star.png" class="anh" id="img1" />
        <img src="/img/star.png" class="anh" id="img2" />
        <img src="/img/star.png" class="anh" id="img3" />
        <img src="/img/star.png" class="anh" id="img4" />
        <img src="/img/star.png" class="anh" id="img5" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1" class="form-label">NHẬN XÉT LAO ĐỘNG</label>
        <textarea class="form-control " id="nhanxet" rows="6"></textarea>
    </div>
  
    <input type="button" id="danhgia" class="btn btn-primary btn-user btn-block" value="Đánh giá" />
</form>
<hr>
<div class="text-center">
    <a class="small" href="~/NguoiTuyenDung/Home/Index">Quay lại</a>
</div>


@section scripts {
    <script>
        var sosao = 5;
        var nguoituyendung = {
            init: function () {

                $("#danhgia").click(function () {
                    nguoituyendung.danhgia();
                });
                $("#img1").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star1.png");
                    $("#img3").attr("src", "/img/star1.png");
                    $("#img4").attr("src", "/img/star1.png");
                    $("#img5").attr("src", "/img/star1.png");
                    sosao = 1;
                });
                $("#img2").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star.png");
                    $("#img3").attr("src", " /img/star1.png");
                    $("#img4").attr("src", "/img/star1.png");
                    $("#img5").attr("src", "/img/star1.png");
                    sosao = 2;
                });
                $("#img3").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star.png");
                    $("#img3").attr("src", "/img/star.png");
                    $("#img4").attr("src", "/img/star1.png");
                    $("#img5").attr("src", "/img/star1.png");
                    sosao = 3;
                });
                $("#img4").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star.png");
                    $("#img3").attr("src", "/img/star.png");
                    $("#img4").attr("src", "/img/star.png");
                    $("#img5").attr("src", "/img/star1.png");
                    sosao = 4;
                });
                $("#img5").click(function () {
                    $("#img1").attr("src", "/img/star.png");
                    $("#img2").attr("src", "/img/star.png");
                    $("#img3").attr("src", "/img/star.png");
                    $("#img4").attr("src", "/img/star.png");
                    $("#img5").attr("src", "/img/star.png");
                    sosao = 5;
                });

            },

            danhgia: function () {
                
                var nhanxet = $("#nhanxet").val();
                var form = new FormData();
                form.append("sao",sosao);
                form.append("nhanxet", nhanxet);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data:form,
                    url: '/NguoiTuyenDung/Home/DanhGiaCongViec/',
                    success: function (res) {

                        alert(res.mess)
                    },
                });
            },

        };

        nguoituyendung.init();

        function goto(i) {
            nguoituyendung.search(i);
        }
    </script>
}




