
@{
    ViewData["Title"] = "NguoiLaoDong";
    Layout = "~/Areas/NguoiTuyenDung/Views/Shared/_Layout.cshtml";
}
<link href="~/card/css.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="modal fade" id="xemchitiet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancel">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-header">
                                <h4>THÔNG TIN NGƯỜI LAO ĐỘNG</h4>
                            </div>
                            <div class="card-body">
                                <div class="row" id="getdanhgia"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12 p-1">
                                                <div class="input-group">
                                                    <div class="input-group-prepend"></div>
                                                    <img src="" alt="Ảnh đại diện" class="img-fluid" id="edit_image" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12 p-1">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Họ và tên</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="edit_name" />
                                                    <input type="text" hidden id="edit_id" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 p-1">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Giới tính</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="edit_sex" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 p-1">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Tuổi</span>
                                                    </div>
                                                    <input type="number" class="form-control bg-white" id="edit_age" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 p-1">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Địa chỉ</span>
                                                    </div>
                                                    <input type="text" class="form-control bg-white" id="edit_address" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 p-1">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Số điện thoại</span>
                                                    </div>
                                                    <input type="text" class="form-control bg-white" id="edit_sdt" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 style="text-align:center">Danh sách lao động ứng tuyển</h1>
        </div>
        <div class="row p-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <span>Số dòng/trang</span>

                    </div>
                    <div class="col-md-2">

                        @Html.DropDownList("Pagesize", new SelectList(ViewBag.Pagesize, "ID", "ID"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                   
                    <div class="dropdown " style="float:right">
                        <select class="form-select" aria-label="Default select example" style="border:none;" id="status">
                            <option selected value="1">Trạng thái </option>
                            <option value="0">Chờ xét duyệt</option>
                            <option value="1">Đã duyệt</option>
                           
                        </select>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="container" id="tbData"></div>
        <table>
            <tfoot>
                <tr>
                    <th colspan="100" id="pages"></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>



<!-- Modal Notification Box -->
<div id="notificationBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông Báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancelHidden">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="notificationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="boxHidden">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var nguoituyendung = {
            init: function () {
                nguoituyendung.search(1);
                $("#search, #Pagesize,#status").change(function () {
                    nguoituyendung.search(1);
                });
                $('#xemchitiet').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget)
                    var idhd = button.data('whatever')

                    nguoituyendung.getNguoiLaoDong(idhd);
                    var html = "<div class='col-md-4'><a href='/NguoiTuyenDung/Home/ListDanhGia/"+idhd+"' class='btn btn-primary'>Xem tất cả đánh giá</a></div>";
                    $("#getdanhgia").html(html);

                });
                $("#cancel").click(function () {
                    $("#xemchitiet").modal('hide');
                });
                $("#boxHidden,#cancelHidden").click(function () {
                    $("#notificationBox").modal('hide');
                });
               
            },
            search: function (index) {
                
                var size = $("#Pagesize").val();
                var status = $("#status").val();
                var form = new FormData();
               
                form.append("size", size);
                form.append("index", index);
                form.append("status", status);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/NguoiTuyenDung/Home/getListNguoiLaoDong/',
                    success: function (res) {
                        var html = "";
                        $.each(res.data, function (index, a) {
                           

                            html += "<div class='card-container'>";
                            html += "        <div class='top-box'>";
                            html += "          <div class='top-menu'></div>";
                            html += "        </div>";

                            html += "        <div class='image-box'>";
                            html += "          <img";
                            html += "            src='"+a.image+"'";
                            html += "            alt='user-profile'";
                            html += "          />";
                            html += "        </div>";

                            html += "        <div class='main-box'>";
                            html += "          <div class='user-info'>";
                            html += "            <span class='name'>" + a.tennguoilaodong + "</span>";
                            html += "            <span class='job'>Giới tính: " + (a.sex == 0 ? "Nữ" : "Nam") + "</span>";
                            html += "            <span class='job'>Tuổi: " + a.age + "</span>";
                            html += "            <span class='job'>Địa chỉ: " + a.diachi + "</span>";
                            html += "            <span class='job'>Mức lương đưa ra: " + a.salary + "</span>";
                                    
                            html += "          </div>";

                            html += "          <div class='row center'>";
                            html += "            <div class='col-md-6'>";
                            html += " <a class='btn btn-primary' href = 'javascript:void(0)' data-toggle='modal' data-target='#xemchitiet' data-whatever='" + a.idnguoilaodong + "'>Xem thông tin  </a>";
                            html += "            </div>";

                            html += "            <div class='col-md-6'>";
                                       
                            if (a.apply == 0) {
                                html += "<button id='duyeths-" + a.id + "' onclick='nguoituyendung.duyethoso(" + a.id + ")' class='btn btn-primary'>Duyệt hồ sơ</button>";
                               
                             } else if (a.apply == 1||a.apply == 2||a.apply == 3) {
                                 html += "<a href='/NguoiTuyenDung/Home/Danhgia/" + a.id + "' class='btn btn-primary'>Đánh giá</a>";
                             } else if (a.apply == -1) {
                                 // Do something if apply is -1
                             }
                            html += "            </div>";
                            html += "          </div>";
                            html += "        </div>";

                            // html += "        <div class='circle-1'></div>";
                            // html += "        <div class='circle-2'></div>";
                            html += "      </div>";



                        });
                        $("#tbData").html(html);
                        $("#pages").html(res.page);
                    },
                    error: function (err) {
                        console.error("Error: ", err);
                    }
                });
            },

            duyethoso: function (id) {
                $("#loading").show();
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,                 
                    url: '/NguoiTuyenDung/Home/DuyetHoSo/'+id,
                    success: function (res) {  
                        $("#duyeths-" + id).hide();
                       
                        $("#loading").hide();
                        nguoituyendung.showNotification(res.mess);
                    },
                });
            },
            getNguoiLaoDong: function (id) {
              
                $.ajax({
                    type: 'get',
                    dataType: 'JSON',
                    url: '/NguoiTuyenDung/Home/getNguoiLaoDong/' + id,
                    success: function (res) {
                        $("#edit_id").val(res.data.ID);
                        $("#edit_name").val(res.data.name);
                        $("#edit_age").val(res.data.age);
                        $("#edit_address").val(res.data.address);
                        $("#edit_sdt").val(res.data.phone);
                        $("#edit_sex").val(res.data.sex==0?"Nữ":"Nam");
                        $("#edit_image").attr("src", res.data.image);
                    }
                });
            },
            // Show the notification modal
            showNotification: function (message) {
                $("#notificationMessage").text(message); // Set the message inside the modal
                $("#notificationBox").modal('show');    // Show the modal
            }
           
        };

        nguoituyendung.init();

        function goto(i) {
            nguoituyendung.search(i);
        }
    </script>
}


