
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container"> 
    <h2>Các chức năng chính </h2>
    <div class="row p-3">
        <div class="col-md-6">
            <div class="card " style="width: 25rem">
                <a class="card-body" style=" text-decoration: none;" href="/Admin/NguoiLaoDong/Index">
                    <h5 class="card-title ">Quản Lý Lao Động</h5>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card " style="width: 25rem">
                <a class="card-body" style=" text-decoration: none;" " href="/Admin/NguoiTuyenDung/Index">
                    <h5 class="card-title ">Quản Lý Người Tuyển Dụng </h5>
                </a>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-6">
            <div class="card " style="width: 25rem">
                <a class="card-body" style=" text-decoration: none;"  href="/Admin/NhomCongViec/Index">
                    <h5 class="card-title ">Quản lý Nhóm Công Việc</h5>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card " style="width: 25rem">
                <a class="card-body " style=" text-decoration: none;" href="/Admin/ThongKe/Index">
                    <h5 class="card-title ">Thống Kê</h5>
                </a>
            </div>
        </div>
    </div>
</div>

