
@{
    ViewData["Title"] = "Danhgia";
    Layout = "~/Areas/NguoiLaoDong/Views/Shared/_Layout.cshtml";
}

<h1>ĐÁNH GIÁ CÔNG VIỆC</h1>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">ĐÁNH GIÁ SAO</label>
    <input type="number" class="form-control" id="sao" >
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">NHẬN XÉT CÔNG VIỆC</label>
    <textarea class="form-control" id="nhanxet" rows="6"></textarea>
</div>
<button class="btn btn-primary" type="submit" id="danhgia">Đánh giá</button>

@section scripts {
    <script>
        var nguoilaodong = {
            init: function () {
              
                $("#danhgia").click(function () {
                    nguoilaodong.danhgia();
                });
               
            },
           
            danhgia: function () {
                var sao = $("#sao").val();
                var nhanxet = $("#nhanxet").val();
                var form = new FormData();
                form.append("sao", sao);
                form.append("nhanxet", nhanxet);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/NguoiLaoDong/Home/DanhGiaCongViec/',
                    success: function (res) {
                        
                        alert(res.mess)
                    },
                });
            },
           
        };

        nguoilaodong.init();

        function goto(i) {
            nguoilaodong.search(i);
        }
    </script>
}


