
@{
    ViewData["Title"] = "ChiTietCongViec";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">THÔNG TIN CHI TIẾT CÔNG VIỆC</h1>
</div>
<form class="user">
    <div class="form-group">

        <label>Tên công việc</label>
        <input type="text" class="form-control  form-control-user" id="name" readonly />
        <input type="hidden" class="form-control" id="id" />
    </div>

    <div class="form-group">
        <label>Tên người tuyển dụng</label>
        <input type="text" class="form-control  form-control-user" id="tennguoituyendung" readonly />
    </div>

    <div class="form-group">
        <label >
            Tuyển lao động tuổi từ
        </label>
    <input type="number" class="form-control" id="min_tuoi" readonly />
        <label >
            Tuyển lao động tuổi đến
        </label>
   
    <input type="number" class="form-control bg-white" id="max_tuoi" readonly />

    </div>

    <div class="form-group">
        <label >
            Thời gian bắt đầu
        </label>
    
    <input type="datetime" class="form-control bg-white" id="timework" readonly />
    </div>

    <div class="form-group">
        <label>
            Thời gian kết thúc
        </label>

        <input type="datetime" class="form-control bg-white" id="finish" readonly />
    </div>

    <div class="form-group">

        <label >
            Địa chỉ
        </label>
    
    <input type="text" class="form-control bg-white" id="address" readonly />


    </div>

    <div class="form-group ">
        <label >
            Địa chỉ cụ thể
        </label>
    
    <input type="text" class="form-control bg-white" id="location" readonly />
    </div>
    <div class="form-group">
        <label >
            Lương
        </label>
    
    <input type="number" class="form-control bg-white" id="salary" readonly />
    </div>
    <div class="form-group">
        <label >
            Mô tả
        </label>

        <textarea type="text" class="form-control bg-white" id="note" readonly ></textarea>
    </div>
    <div class="form-group">
        <label >
            Mức lương mong muốn
        </label>

        <input type="number" class="form-control bg-white" id="luong" min=0 />
    </div>
    <input type="button" class="btn btn-primary" id="apply" value=" Ứng tuyển " />
    <a href="/Home/Index" class="btn btn-danger">Quay lại</a>

  

</form>






@section scripts {
    <script>
        var nguoilaodong = {
            init: function () {
                nguoilaodong.getCongViec();
                $("#apply").click(function () {
                    nguoilaodong.apply();
                });
            },

            getCongViec: function () {
                $.ajax({
                    type: 'get',
                    dataType: 'JSON',
                    url: '/Home/getCongViec/',
                    success: function (res) {
                        $("#id").val(res.data.id);
                        $("#name").val(res.data.name);
                        $("#tennguoituyendung").val(res.data.tennguoituyendung);
                        $("#min_tuoi").val(res.data.mintuoi);
                        $("#max_tuoi").val(res.data.maxtuoi);
                        $("#timework").val(res.data.timeworkS);
                        $("#finish").val(res.data.finishS);
                        $("#address").val(res.data.address);
                        $("#location").val(res.data.location);
                        $("#salary").val(res.data.salary);
                        $("#note").val(res.data.note);

                    }
                });
            },
            apply: function() {
                var id = $("#id").val();
                var luong = $("#luong").val();
                var timework = $("#timework").val();
                if(luong==null||luong=="")
                {
                    alert("Nhập mức lương mong muốn");
                    return;
                };
                // Chuyển đổi giá trị từ datetime-local thành đối tượng Date
                var timeworkDate = new Date(timework);

                // Kiểm tra nếu thời gian hiện tại lớn hơn thời gian làm việc
                if (new Date() > timeworkDate) {
                    alert("Công việc đã hết hạn ");
                    return;
                };
                
                var form = new FormData();
                form.append("id", id);
                form.append("luong",luong);
                
                $.ajax({
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Home/Apply/',
                    success: function (res) {
                        if (res.status == 1) {
                            alert(res.mess )
                            $("#apply").hide();
                        }
                        else {
                            if (res.status == 0) {
                                alert(res.mess )
                            }
                            else {

                                window.location.href = "/Login/Index";
                            }
                        }
                    }
                });
            },
        };

        nguoilaodong.init();

        function goto(i) {
            nguoilaodong.search(i);
        }
    </script>
}
