@{
    ViewData["Title"] = "Forget";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Quên Mật Khẩu</h1>
</div>
<form class="user">
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="email"
               placeholder="Nhập email của bạn">
    </div>
    
    <input type="button" id="login" class="btn btn-primary btn-user btn-block" value="Gửi mã xác nhận" />


</form>
<hr>

<div class="text-center">
    <a class="small" href="~/Login/Index">Quay về</a>
</div>
<!-- Modal Notification Box -->
<div id="notificationBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông Báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancelHidden">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="notificationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="boxHidden">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var login = {
            init: function () {

                $("#login").click(function () {

                    login.dangnhap();
                });
                $("#boxHidden,#cancelHidden").click(function () {
                    $("#notificationBox").modal('hide');
                });
            },
            dangnhap: function () {
                var email = $("#email").val();
                // Check if both username and password are entered
                if (!email) {
                    login.showNotification("Vui lòng nhập email");
                    return;
                }
                
                var form = new FormData()
                form.append("email", email);
                $("#loading").show();
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Login/ForgetPassword/',
                    success: function (res) {
                   
                        login.showNotification(res.mess);
                    
                    $("#loading").hide();
                    },
                });
            },
            // Show the notification modal
            showNotification: function (message) {
                $("#notificationMessage").text(message); // Set the message inside the modal
                $("#notificationBox").modal('show');    // Show the modal
            },
        }
        login.init();
    </script>
}

