@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Đăng Nhập</h1>
</div>
<form class="user">
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="username" 
               placeholder="UserName">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
               id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">
                Remember
                Me
            </label>
        </div>
    </div>
    <input type="button" id="login" class="btn btn-primary btn-user btn-block" value="Login" />
        
    
</form>
<hr>
<div class="text-center">
    <a class="small" href="~/Login/Forget">Quên Mật Khẩu</a>
</div>
<div class="text-center">
    <a class="small" href="~/Login/Register">Bạn Chưa Có Tài Khoản</a>
</div>
@section scripts {
    <script>
       var login = {
                init: function () {

                    $("#login").click(function () {

                        login.dangnhap();
                    });
                },
                dangnhap: function () {
                    var username = $("#username").val();
                    var password = $("#password").val();
                    var form = new FormData()
                    form.append("username", username);
                    form.append("password", password);
                    $("#loading").show();
                    $.ajax({
                        type: 'POST',
                        dataType: 'Json',
                        contentType: false,
                        processData: false,
                        data: form,
                        url: '/Login/Dangnhap/',
                        success: function (res) {
                           
                            if (res.status == true) {
                                if (res.router == "NguoiLaoDong") {
                                window.location.href = "/"
                                }
                                else {
                                    window.location.href = "/" + res.router
                                }
                            }
                            else {
                                alert(res.mess);
                            }
                        $("#loading").hide();
                        },
                    });
                },
            }
            login.init();
    </script>
}