@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Đăng Ký Tài Khoản</h1>
</div>
<form class="user">
    <div class="form-group">
      
            <input type="text" class="form-control form-control-user" id="name"
                   placeholder="Họ và tên">
    </div>
    <div class="form-group">
        Ngày tháng năm sinh
        <input type="datetime-local" class="form-control form-control-user" id="ngaysinh"
               placeholder="Ngay sinh">
    </div>
    <div class="form-group">    
            <input type="text" class="form-control form-control-user" id="address"
                   placeholder="Địa chỉ">    
    </div>

    <div class="form-group">      
            <input type="text" class="form-control form-control-user" id="phone"
                   placeholder="Số điện thoại">
    </div>

    <div class="form-group">
        <input type="email" class="form-control form-control-user" id="email"
               placeholder="Email ">
    </div>

    <div class="form-group">
        
            <input type="text" class="form-control form-control-user" id="username"
                   placeholder="Tên tài khoản">
        
       
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="password" class="form-control form-control-user"
                   id="password" placeholder="Mật khẩu">
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control form-control-user"
                   id="confirmpassword" placeholder="Nhập lại mật khẩu">
        </div>

    </div>
    <div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
        <label>
            <input type="radio" name="gender" value="male" id="nguoilaodong">
            <span id="male-label">Người Lao Động</span>
        </label>
        </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
        <label>
            <input type="radio" name="gender" value="female" id="nguoituyendung">
            <span id="female-label">Người Tuyển Dụng</span>
        </label>
        </div>
        </div>
    </div>
    <input type="button" class="btn btn-primary btn-user btn-block" id="login"value=" Đăng Ký" />
      
  
   
    
</form>
<hr>
<div class="text-center">
    <a class="small" href="~/Login/Forget">Quên Mật Khẩu?</a>
</div>
<div class="text-center">
    <a class="small" href="~/Login/Index">Bạn đã có tài khoản!</a>
</div>


@section scripts {
    <script>
        var login = {
            init: function () {

                $("#login").click(function () {

                    login.dangky();
                });
            },
            dangky: function () {
                var name = $("#name").val();
                var ngaysinh = $("#ngaysinh").val();
                var phone = $("#phone").val();
                var address = $("#address").val();
                var email = $("#email").val();
                var username = $("#username").val();
                var password = $("#password").val();
                var ngld = $("#nguoilaodong").is(":checked");
                var ngtd = $("#nguoituyendung").is(":checked");
                var state = "ngld";
                if (ngld == false && ngtd == false) {
                    alert("Vui lòng chọn đối tượng đăng ký.");
                    return;
                }
                if (ngtd) {
                    state = "ngtd";
                }
                var confirmpassword = $("#confirmpassword").val();
                var password = $("#password").val();
                if (!name || !address || !phone || !email || !username || !password || !confirmpassword||!ngaysinh) {
                    alert("Vui lòng điền đầy đủ thông tin.");
                    return;
                }

                if (password != confirmpassword) {
                    alert("Mật khẩu không trùng khớp.");
                    return;
                }
                var form = new FormData()
                form.append("name", name);
                form.append("ngaysinh", ngaysinh);
                form.append("phone", phone);
                form.append("address", address);
                form.append("email", email);
                form.append("username", username);
                form.append("password", password);
                form.append("state", state);
              
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Login/Dangky/',
                    success: function (res) {
                        if (res.trangthai) {
                            alert(res.mess);
                            window.location.href = "/Login/Index/";
                        }
                        else {
                            alert(res.mess);
                        }
                       
                    },
                    error: function () { 
                    
                    }

                });
            },
        }
        login.init();
    </script>
}